
	.inp{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], [type=file] {
    width: 100%;
    background-color: #435e76;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align:center;
}

input[type=submit]:hover {
    background-color: #436898;
}

.button{
	width: 50%;
    background-color: #435e76;
    color: white;
	padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align:center;
}
.button:hover{
	 background-color: #436898;
}
.sgn {
    border-radius: 5px;
    background-color: #d9d9d9;
    padding: 20px;
	margin: 50px;
}

.sgnin {
    border-radius: 5px;
    background-color: #d9d9d9;
    padding: 18px;
	margin: 61px;
}

.sgntb {
    border-radius: 5px;
    background-color: #d9d9d9;
    padding: 20px;
	margin: 50px;
	text-align:center;
}

.image {
    display: block;
    margin: 0 auto;
}


