#colleges {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
	 
}

#colleges td, #colleges th {
    border: 1px solid #bfbfbf;
    padding: 8px;

}

#colleges tr:nth-child(even){background-color: #f2f2f2;}

#colleges tr:hover {background-color: #b3b3b3;}

#colleges th {
    padding-top: 12px;
    padding-bottom: 12px;
	text-align:center;
   
    background-color: #435e76;
    color: white;
}